/* hide the original widget - that there were no two labels on the screen*/
#jivo_chat_widget{
	display: none;
}

/* the default style - for offline messages if no one is online */
#jivo_custom_widget{
	position: fixed;
	right: 2%;
	bottom: 2%;
	width: 75px;
	z-index: 300000;
	cursor: pointer;
	
	height: 75px;
	background-image: url(images/jivo_widget_offline.png);
	background-size: cover;
}

/* when you hover the label should be shifted to the right by 3px */
#jivo_custom_widget:hover{
	right: 2.2%;
	bottom: 2.2%;
}

/* if there are operators online - show other label*/
#jivo_custom_widget.jivo_online{
	height: 75px;
	background-image: url(images/jivo_widget_online.png);
	background-size: cover;
}